#container {
    width: calc(100%-2 * 1.25rem);
    overflow-x: scroll;
    padding: 0.8rem;
    margin: 1.25rem;
    background: var(--depth-50);
}

#expression,
#solution {
    color: white;
    font-size: 1.125rem;
}
