#panelContainer {
    overflow-y: scroll !important;
}

.expressionField {
    position: absolute;
    bottom: 1rem;
    width: calc(99% - 2 * 1.25rem);
    margin: 1.25rem;

    height: 2rem;
    font-size: 1.125rem;
    background: var(--depth-50);
    border: none;
    color: var(--depth-0);
}
