@import "../node_modules/dockview/dist/styles/dockview.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --truegray-50: #e8e8e8;
    --truegray-100: #d4d4d4;
    --truegray-200: #a6a6a6;
    --truegray-300: #7a7a7a;
    --truegray-400: #4d4d4d;
    --truegray-500: #212121;
    --truegray-600: #1a1a1a;
    --truegray-700: #141414;
    --truegray-800: #0d0d0d;
    --truegray-900: #080808;
    --truegray-950: #030303;
}

.dockview-theme-dark {
    --dv-background-color: var(--truegray-900);
    --dv-paneview-active-outline-color: #2563eb;
    --dv-drag-over-background-color: color-mix(
        in srgb,
        var(--truegray-300) 20%,
        transparent
    );
    --dv-drag-over-border-color: var(--truegray-50);
    --dv-tabs-container-scrollbar-color: var(--truegray-200);
    --dv-floating-box-shadow: 8px 8px 8px 0px
        color-mix(in srgb, var(--truegray-800) 20%, transparent);
    --dv-group-view-background-color: var(--truegray-800);
    --dv-tabs-and-actions-container-background-color: var(--truegray-800);
    --dv-activegroup-visiblepanel-tab-background-color: var(--truegray-800);
    --dv-activegroup-hiddenpanel-tab-background-color: var(--truegray-800);
    --dv-inactivegroup-visiblepanel-tab-background-color: var(--truegray-800);
    --dv-inactivegroup-hiddenpanel-tab-background-color: var(--truegray-800);
    --dv-tab-divider-color: var(--truegray-700);
    --dv-activegroup-visiblepanel-tab-color: var(--truegray-50);
    --dv-activegroup-hiddenpanel-tab-color: var(--truegray-400);
    --dv-inactivegroup-visiblepanel-tab-color: var(--truegray-200);
    --dv-inactivegroup-hiddenpanel-tab-color: var(--truegray-400);
    --dv-separator-border: var(--truegray-700);
    --dv-paneview-header-border-color: color-mix(
        in srgb,
        var(--truegray-400) 20%,
        transparent
    );
}

body {
    margin: 0;
}

.grid-view {
    height: 100vh !important;
}
